.widget {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 30px 30px 30px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.clock-numbers {
    font-size: 80px;
    margin: 20px 0px;
    font-weight: bold;
}