.widget {
    max-width: 500px;
    border: 1px solid gray;
    margin: 50px auto 0px auto;
    text-align: center;
    padding: 30px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clock-numbers {
    font-size: 120px;
    margin: 20px 0px;
}